0. Importe as bibliotecas necessárias

In [1]:
import pandas as pd
import numpy as np

1. Importe os dados sobre os penguins, que se encontra no link abaixo.

https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv

In [6]:
p = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv')
p.shape

(344, 7)

3. Mude os elementos da coluna `sex` ("MALE" e "FEMALE") para português ("MASCULINO" e "FEMININO")

In [3]:
p['sex'] = p['sex'].replace(['MALE', 'FEMALE'], ['MASCULINO', 'FEMININO'])

4. Crie uma coluna com o quadrado do peso chamada `quadpeso`

In [5]:
p['quadpeso'] =  p['body_mass_g'] ** 2

5. Crie uma coluna chamada `acima_da_media`, que contenha valores booleanos, `True` caso o pinguin esteja com o peso acima da média e `False` caso o pinguin esteja com o peso na média ou abaixo da média.

In [8]:
p['acima_da_media'] = p['body_mass_g'] > p['body_mass_g'].mean()

6. Calcule quantos penguins, por espécie, estão com o peso acima da **média**

In [9]:
p.groupby('species')['acima_da_media'].sum()

species
Adelie        25
Chinstrap      7
Gentoo       117
Name: acima_da_media, dtype: int64

7. Calcule a média e o desvio-padrão dos pinguins, por sexo e por ilha. Depois, jogue fora as linhas que são NaN

In [11]:
print(p.groupby(['island', 'sex'])['body_mass_g'].agg(['mean', 'std']))
p = p.dropna()

                         mean         std
island    sex
Biscoe    FEMALE  4319.375000  659.748885
          MALE    5104.518072  714.197748
Dream     FEMALE  3446.311475  269.522574
          MALE    3987.096774  349.523737
Torgersen FEMALE  3395.833333  259.144356
          MALE    4034.782609  372.471714

8. Encontre os pinguins que estão acima de dois desvio-padrão do peso médio.

obs: você precisará filtrar os pinguins que estejam acima de `2 * desvio_padrão + peso_médio`

In [12]:
desvio = p['body_mass_g'].std()
media =  p['body_mass_g'].mean()
print(p[p['body_mass_g'] > (2 * desvio + media)])

    species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
233  Gentoo  Biscoe            48.4           14.6              213.0
235  Gentoo  Biscoe            49.3           15.7              217.0
237  Gentoo  Biscoe            49.2           15.2              221.0
253  Gentoo  Biscoe            59.6           17.0              230.0
297  Gentoo  Biscoe            51.1           16.3              220.0
299  Gentoo  Biscoe            45.2           16.4              223.0
331  Gentoo  Biscoe            49.8           15.9              229.0
335  Gentoo  Biscoe            55.1           16.0              230.0
337  Gentoo  Biscoe            48.8           16.2              222.0

     body_mass_g   sex  acima_da_media
233       5850.0  MALE            True
235       5850.0  MALE            True
237       6300.0  MALE            True
253       6050.0  MALE            True
297       6000.0  MALE            True
299       5950.0  MALE            True
331       5950.0  MALE            True
335       5850.0  MALE            True
337       6000.0  MALE            True

9. Para cada grupo de ilha e espécie, encontre o tamanho de bico mediano e a quantidade de penguins

In [13]:
print(p.groupby(['species', 'island'])['bill_length_mm'].agg(['median', 'count']))

                     median  count
species   island
Adelie    Biscoe      38.70     44
          Dream       38.80     55
          Torgersen   39.00     47
Chinstrap Dream       49.55     68
Gentoo    Biscoe      47.40    119

10. Importe os CSVs abaixo para variáveis:

`flights.csv`, `airports.csv`, `planes.csv` e `airlines`

In [14]:
flights = pd.read_csv('flights.csv')
airports = pd.read_csv('airports.csv')
planes = pd.read_csv('planes.csv')
airlines = pd.read_csv('airlines.csv')

11. Faça um `left_join` de flights e planes. Depois, faça a média de atraso (`arr_delay`) por `manufacturer`. Tente arranjar os dados para descobrirmos quais são os que mais atrasam *na média*

In [16]:
left = pd.merge(flights, planes, how = 'left')
print(left.groupby('manufacturer')['arr_delay'].mean())

manufacturer
AIRBUS            5.307692
BOEING           -3.666667
BOMBARDIER INC   -2.400000
EMBRAER          -5.872340
Name: arr_delay, dtype: float64

12. Com os dados juntados anteriormente, junte também o dataframe de `airlines`, de acordo com as colunas em comum. Depois, descubra a quantidade de linhas por `origin` e `airlines`

In [17]:
left_airlines = pd.merge(left, airlines, on = 'carrier', how = 'left')

print(left_airlines.groupby(['origin', 'name'])['flight'].count())

origin  name
EWR     Alaska Airlines Inc.             77
        American Airlines Inc.          370
        Delta Air Lines Inc.            375
        Endeavor Air Inc.               119
        Envoy Air                       247
        ExpressJet Airlines Inc.       4742
        JetBlue Airways                 695
        Southwest Airlines Co.          660
        US Airways Inc.                 454
        United Air Lines Inc.          4627
        Virgin America                   42
JFK     American Airlines Inc.         1506
        Delta Air Lines Inc.           1974
        Endeavor Air Inc.              1672
        Envoy Air                       750
        ExpressJet Airlines Inc.        140
        Hawaiian Airlines Inc.           36
        JetBlue Airways                4168
        US Airways Inc.                 307
        United Air Lines Inc.           482
        Virgin America                  391
LGA     AirTran Airways Corporation     386
        American Airlines Inc.         1594
        Delta Air Lines Inc.           2345
        Endeavor Air Inc.               188
        Envoy Air                      1826
        ExpressJet Airlines Inc.        522
        Frontier Airlines Inc.           73
        JetBlue Airways                 649
        Mesa Airlines Inc.               61
        SkyWest Airlines Inc.             1
        Southwest Airlines Co.          608
        US Airways Inc.                1303
        United Air Lines Inc.           797
Name: flight, dtype: int64